@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body{
    font-family: 'Courier Prime', monospace;
    background-color: rgb(66, 52, 50);
}

.contenedor {
    margin: 0 auto;
    display: table;
}
h1{
    float: left;
    color: #fff;
    position: relative;
    font-size: 2.5em;
}
h1 span{
    position: absolute;
    right: 0;
    width: 0;
    background-color: rgb(66, 52, 50);;
    border-left: 1.5px solid #000;

    animation: maquina 5s infinite alternate steps(27);

}

@keyframes maquina{
    from{
        width: 100%;
    }
    to {
        width: 0%;
    }
}

